@font-face {
  font-family: "easeicon";
  src: url('../iconfont.woff2') format('woff2'),
       url('../iconfont.woff') format('woff'),
       url('../iconfont.ttf') format('truetype');
}

.easeicon {
  font-family: "easeicon" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 示例图标绑定：根据 data-title 修改图标 */
/* Docker 菜单图标 */
.main > .main-left > .nav > li > a[data-title="Docker"]::before {
  font-family: 'easeicon' !important;
  content: "\e659" !important;
  color: #0c93f3 !important;
  margin-right: 6px !important;
}

/* 网络向导 (NetworkGuide) 菜单图标 */
.main > .main-left > .nav > li > a[data-title="NetworkGuide"]::before {
  font-family: 'easeicon' !important;
  content: "\ecc7";
  color: #fb6340;
  margin-right: 6px;
}

.main > .main-left > .nav > li > a[data-title="iStore"]::before {
  font-family: 'easeicon' !important;
  content: "\e60f";
  color: #8965e0;
  margin-right: 6px;
}

.main > .main-left > .nav > li > a[data-title="QuickStart"]::before {
  font-family: 'easeicon' !important;
  content: "\e664";
  color: #11cdef;
  margin-right: 6px;
}